<suite name="Twitter" verbose="1" >

    <test name="TwiiterWebUITests">
        <classes>
            <class name="LandingPageTest"/>
            <class name="LogInPageTest"/>
            <class name="GlobalNavBarTest"/>
            <class name="ProfileDropdownMenuTest"/>
        </classes>
    </test>

</suite>
